$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.container {
  float: left;
  margin: 20px;
  .points {
    position: relative;
    div {
      width: 10px;
      height: 10px;
      background-color: blue;
      position: absolute;
      margin: -5px 0 0 -5px;
      border-radius: 5px;
    }
  }
}

#editor-dropzone {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.editor-image-container {
  position: relative;
  .editor-image-points-container {
    position: absolute;
    .editor-image-point {
      width: 10px;
      height: 10px;
      background-color: blue;
      position: absolute;
      margin: -5px 0 0 -5px;
      border-radius: 5px;
      position: absolute;
    }
  }
}