$font-stack:    Helvetica, sans-serif;
$primary-color: lightgray;
$image-width: 320px;
$accent-color: #EC407A;

html {
  height: 100%;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  height: 100%;
}

button {
  outline: 0;
}

#app-container {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  float: left;
  margin: 20px;
  .points {
    position: relative;
    div {
      width: 10px;
      height: 10px;
      background-color: blue;
      position: absolute;
      margin: -5px 0 0 -5px;
      border-radius: 5px;
    }
  }
}

#editor {
  padding-top: 50px;
}

#editor-dropzone {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#editor-images {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .editor-image-container {
    position: relative;
    margin: 20px;
    .editor-image-points-container {
      position: absolute;
      .editor-image-point {
        opacity: 0.7;
        width: 10px;
        height: 10px;
        background-color: white;
        border: solid 2px black;
        position: absolute;
        margin: -7px 0 0 -7px;
        border-radius: 7px;
      }
      .editor-image-point.moving {
        background-color: black;
        border: solid 2px white;
      }
    }
    textarea.editor-image-data {
      margin: 0;
      margin-top: 20px;
      width: 100%;
      color: $primary-color;
      border: 0;
      height: 150px;
      padding: 0;
    }
    .editor-image-remove-button {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      border: 0;
      left: 50%;
      margin-left: -15px;
      bottom: -40px;
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
  }
}

#viewer-container {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(lighten($accent-color, 20), 0.8);
}

#viewer-container.viewer-container-closed {
  top: -100%;
  opacity: 0;
}

#viewer {
  margin-top: 120px;
}

#viewer-slider {
  margin: auto;
  position: relative;
}

#viewer-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.viewer-point {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  float: left;
  margin: 20px 5px;
  transition: all 0.3s;
}

.viewer-point.viewer-point-now {
  background-color: rgba(0,0,0,0.8);
}

div#viewer-play-button-container {
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
}

div#viewer-play-button-container:hover {
  opacity: 1;
}

div#viewer-play-button {
  width: 0;
  height: 0;
  margin-top: -47px;
  margin-left: -20px;
  border: 50px solid transparent;
  border-left: 50px solid white;
  position: absolute;
  transform: scaleY(0.7);
}

div#viewer-play-button:hover {
  border-left: 50px solid $accent-color;
}

div#viewer-play-button.viewer-play-button-pause {
  width: 20px;
  height: 50px;
  border: 0;
  margin: -25px;
  border-left: 15px solid white;
  border-right: 15px solid white;
  transform: none;
}

div#viewer-play-button.viewer-play-button-pause:hover {
  border-left: 15px solid $accent-color;
  border-right: 15px solid $accent-color;
}

#viewer-next-button {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: 100%;
  border: 0;
  background-color: white;
}

#viewer-prev-button {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -50px;
  border: 0;
  background-color: white;
}

#viewer-next-button:hover {
  background-color: $accent-color;
}

#viewer-prev-button:hover {
  background-color: $accent-color;
}

#viewer-option {
  margin: auto;
  label {
    display: block;
    width: 100%;
    margin: 10px 0;
    color: rgba(0,0,0, 0.5);
    font-size: small;
    select {
      float: right;
      background: none;
      border: 0;
      color: rgba(0,0,0,0.8);
      outline: 0;
    }
    input {
      width: 60px;
      float: right;
      background: none;
      border: 0;
      border-bottom: solid 1px rgba(0,0,0,0.5);
      color: rgba(0,0,0,0.8);
      outline: 0;
    }
  }
}

#preview-button {
  background-color: $accent-color;
  position: fixed !important;
  width: 100%;
  height: 50px;
  top: 0;
  border: 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

#save-button {
  background-color: white;
  position: fixed !important;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 20px;
  border-radius: 25px;
  border: 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}